## Intro to using Pandas - with healthcare for all data

NumPy is a Python library used for working with arrays.

It also has functions for working in domain of linear algebra, fourier transform, and matrices.

NumPy was created in 2005 by Travis Oliphant. It is an open source project and you can use it freely.

NumPy stands for Numerical Python.

In [1]:
#step 1 import your libraries / packages - try running, if not installed use conda / pip to install 
# eg conda install -c anaconda numpy or pip install numpy 
import numpy as np

In [2]:
#should be included with anaconda installation 
import pandas as pd

### get data

In [3]:
#bring in the file and convert to a pandas dataframe  
file1 = pd.read_csv ('files_for_lab/csv_files/file1.csv')

In [4]:
#look at the top rows of the first file using df.head()
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [5]:
file1.shape

(4008, 11)

In [6]:
#use describe to review whats in the columns and some basic descriptive statistics
file1.describe(include = "all")

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,1071,1071,954,1071,1068,1071.000000,1071.000000,1071,1071,1071,1071.000000
unique,1071,8,5,6,1027,NaN,NaN,6,3,6,NaN
top,TV82603,Oregon,F,Bachelor,251459.20%,NaN,NaN,1/0/00,Personal Auto,Four-Door Car,NaN
freq,1,320,457,324,4,NaN,NaN,830,780,576,NaN
mean,NaN,NaN,NaN,NaN,NaN,39295.701214,193.234360,NaN,NaN,NaN,404.986909
std,NaN,NaN,NaN,NaN,NaN,30469.427060,1601.190369,NaN,NaN,NaN,293.027260
min,NaN,NaN,NaN,NaN,NaN,0.000000,61.000000,NaN,NaN,NaN,0.382107
25%,NaN,NaN,NaN,NaN,NaN,14072.000000,68.000000,NaN,NaN,NaN,202.157702
50%,NaN,NaN,NaN,NaN,NaN,36234.000000,83.000000,NaN,NaN,NaN,354.729129
75%,NaN,NaN,NaN,NaN,NaN,64631.000000,109.500000,NaN,NaN,NaN,532.800000
max,NaN,NaN,NaN,NaN,NaN,99960.000000,35354.000000,NaN,NaN,NaN,2893.239678

In [7]:
#bring in the next file 
file2 = pd.read_csv ('files_for_lab/csv_files/file2.csv')
# note the use of separators  necessary for txt files, not for csv files

In [8]:
#look at the top rows of the second file using df.head()
file2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [9]:
#look at the shape of the second file using df.shape
file2.shape

(996, 11)

In [ ]:
#read in and review the head/ shape of the remaining two excel files - this time using pd.read_excel, as file3 and file4

file3=pd.read_excel('file3.xlsx')

file3.head()

In [ ]:
file3.shape

In [ ]:
file4=pd.read_excel('file4.xlsx')
file4.head()

In [ ]:
file4.shape

### merge the data frames 

after reviewing the column headers for a match we will combine data sources 1 and 2

In [ ]:
#lets check the column names for file 1 and 2 using df.columns 
file3.columns

In [ ]:
file4.columns

In [ ]:
file1.columns

In [ ]:
file2.columns

In [ ]:
# pull out the column names from file1 as a variable (

column_names=file1.columns
column_names

In [ ]:
#this command will set those column names in the target data frame 

data=pd.DataFrame(columns=column_names)

In [ ]:
#use head() to review what we have 
data.head()

In [ ]:
# next lets concatenate our new target data frame with our first file1
data=pd.concat([data,file1],axis=0)

In [ ]:
#use head() to review what we have 
data.head()

In [ ]:
# same again, concat the file 2 into the data df. 
data=pd.concat([data,file2],axis=0)

#hint : be careful not to run this more than once or you will have to clear some output!

In [ ]:
#check the shape to ensure you have the correct no of rows
data.shape

In [ ]:
#before bringing in the other dfs lets confirm the data columns will line up for all files  

data.columns

#if they dont - what can be done?

In [ ]:
# if happy to proceed, lets concat in file 3 using the same method as before and review the head()

data=pd.concat([data,file3],axis=0)

In [ ]:
#lets concat in file 4 using the same method as before and review the head()

data=pd.concat([data,file4],axis=0)
data.shape

hint: we are doing this step by step- there are faster methods, to concat all files at once 
     
     we could use something like:  
data = pd.concat([data,file2,file3, file4], axis=0)

In [ ]:
#check the shape to ensure you have the correct no of rows and columns

### Standardizing header names

Some standards are:
    use lower case
    if headers have spaces, replace them with underscores

In [ ]:
#lets look at one column header (using the index position)
data.columns[1]

In [ ]:
#how many columns do we have?
len(data.columns)

In [ ]:
#we want to make all the columns into lower case 
cols = []
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower())
cols

In [ ]:
#reset the columns from our function

data.columns = cols

#hint: we could also have used a STR function data.columns=data.columns.str.lower()

In [ ]:
#use head() to check the df 

data.head()

### examining the columns and looking for empty cells

In [ ]:
#check the data types of all columns 
data.dtypes

In [ ]:
#lets look at how many NA values we have in each column
data.info()

In [ ]:
#we can easily create a df of missing values using isna()

missingdata=data.isna()
missingdata.head()

In [ ]:
#what about showing the % nulls - heres one technique
#the above data frame is a boolean ie 1s and 0s - so if we add them up we can see a count of actual values 

missingdata.sum()/len(data)

#what does this look like from maths? 
#Summing up all the values in a column and then dividing by the total number is the mean.
#this is the same as missingdata.mean()

In [ ]:
#to summarise this in one line of code and round the values 
data.isna().mean().round(4) *100

In [ ]:
# lets assume we wanted to drop a single column due to poor coverage across all data sets: domain 

data = data.drop(['domain'],axis=1)

In [ ]:
#what we are left with 
data.columns

In [ ]:
#this time lets drop a few columns in one hit by choosing which we want to keep - also rearranging the columns

data=data[['controln', 'state', 'gender', 'hv1', 'hvp1',
       'pobc1', 'pobc2','avggift', 'target_d','ic1','ic2','ic3','ic4','ic5']]

In [ ]:
data.head()

In [ ]:
#lets rename a few of the columns to sensible names
data = data.rename(columns={ 'controln':'id','hv1':'median_home_val', 'ic1':'median_household_income'})

In [ ]:
#review the data using head()
data.head()

In [ ]:
file1.head()

### heres one i wish i had dun earlier

In [ ]:
from IPython.display import Image
Image("face_palm.jpeg")

In [ ]:
data.info()

In [ ]:
# - I noticed earlier when running data.info() that I had forgotten to reset the index 
#after merging all the data frames! oops ... Lets do that now ....

data.reset_index(drop=True, inplace=True)

In [ ]:
data.tail()

### filtering and subsetting

In [ ]:
#method 1 focus on just male donors in florida 

data[(data["state"]=="FL") & (data["gender"]=='M')]

In [ ]:
#alternative method : 

data.query('gender=="M" & state=="FL" ')

In [ ]:
# last option 
data.loc[data.gender == "M"]

quick question - are we picking up all males in our data set?

In [ ]:
data['gender'].value_counts()

In [ ]:
data['gender'].unique()

In [ ]:
#challenge1: view a filtered subset of the data where the average gift is over 10 dollars 

data[(data['avggift']>10)]

In [ ]:
#challenge 2: view a filtered subset of the data where the gender is M, state is florida and avg gift size is more than 10 dollars

data.query('gender=="M" & state=="FL" & avggift > 10')

In [ ]:
#before we apply any lasting filter to our data frame lets create a new version which we can play with
# so that the original data frame wont be affected

tempdata=data.copy()

In [ ]:
#use head(), .columns or shape() to review the tempdata

tempdata.head()

In [ ]:
#create a filtered dataframe from our M gender subset 
filtered =data[data['gender']=='M']

In [ ]:
#use shape for your filtered df 
filtered.shape

In [ ]:
#use head to review the top rows of the filtered df
filtered.head()

In [ ]:
#notice we need to reset the index 
filtered.reset_index(drop=True, inplace=True)
filtered.head()

In [ ]:
#use the index to display the first ten rows 
filtered[0:10]

In [ ]:
# use the index to display 3 columns, first ten rows 
filtered[['gender', 'ic2', 'ic3']][23:29]

In [ ]:
#use the index to display rows with index number 1 and 2 (remember an index starts at 0)
filtered[1:3]

In [ ]:
#use loc to return a selected row 
filtered.loc[326]

In [ ]:
#use iloc to return first 10 rows and the first 4 columns 

filtered.iloc[1:10,0:4]

loc v iloc 
loc is label based
iloc is integer based only
https://www.analyticsvidhya.com/blog/2020/02/loc-iloc-pandas/

In [ ]:
#sian typo! should refer to id not controln

# tip : its possible to set the index from any column eg CONTROLN:id

filtered2=filtered.reset_index().set_index('id')
filtered2.head()
#in which case using iloc and loc would give very different results

In [ ]:
filtered2.sort_index()

In [ ]:
#when reviewing subsets it is often smart to reconfigure how many rows you will see max

pd.set_option('display.max_rows', 20)

In [ ]:
filtered.loc[:218]

In [ ]:
#sian typo! should say filtered2 not filtered 3

filtered.iloc[:218]

### data cleaning steps (1) data type change

In [ ]:
#reverting back to our temp data copy
# lets look at the data types. any data type worth changing? 
tempdata.dtypes

In [ ]:
#focus on float data types 
tempdata.select_dtypes('float64')

In [ ]:
#simple change from float to int type would drop the decimals 
tempdata['avggift'] = tempdata['avggift'].astype('int')

In [ ]:
#focus on the object data types 
tempdata.select_dtypes('object')

although tempting to force an object into a float using as type :

tempdata['median_home_val'] = tempdata['median_home_val'].astype('float', errors='ignore')

we know some values of the data are strings and this could produce an error

In [ ]:
#lets have a look at all the numeric data 

tempdata._get_numeric_data()

In [ ]:
#do a data type change for column and replace non float values with NaN

tempdata['median_home_val'] =  pd.to_numeric(tempdata['median_home_val'], errors='coerce')

In [ ]:
# do the same for median household income, ic3 and ic5

In [ ]:
tempdata['median_household_income'] =  pd.to_numeric(tempdata['median_household_income'], errors='coerce')
tempdata['ic3'] =  pd.to_numeric(tempdata['ic3'], errors='coerce')
tempdata['ic5'] =  pd.to_numeric(tempdata['ic5'], errors='coerce')

In [ ]:
tempdata.dtypes

In [ ]:
tempdata.to_csv('tempdataoutput.csv', index = False)

### data cleaning steps (2) duplicates

In [ ]:
#lets rename our tempdata df into cleandata
cleandata =tempdata

In [ ]:
#drop all dupes using df.drop_duplicates()- remember to replace the dataframe with the de duped df

#we can also do a de dupe on specified columns such as:
#cleandata = cleandata.drop_duplicates(subset=['state','gender', 'ic2', 'ic3'])

In [ ]:
#review using shape

In [ ]:
cleandata.head()

### data cleaning steps (3) null values

In [ ]:
# review where are we starting from - use info()

In [ ]:
#for a more detailed snapshot, we can calculate the % nulls per column as a new df
nulls_df = pd.DataFrame(round(cleandata.isna().sum()/len(cleandata),4)*100)

In [ ]:
#tidy the nulls_df by resetting the index and renaming the columns as 'header_name' & 'percent_nulls'

#### categorical data nulls

In [ ]:
#we could potentially drop columns we see as having high null % or drop columns according to a null% rule 
columns_drop = nulls_df[nulls_df['percent_nulls']>3]['header_name']  #3% threshold, arbitrary value
print(columns_drop.values)

In [ ]:
#example dropping the gender column on a new dataframe cleandata1- just an example, we wont do this with our df: 
cleandata1 = cleandata.drop(['gender'], axis=1))

In [ ]:
#how many rows would this effect? 

cleandata[cleandata['gender'].isna()==True]

In [ ]:
#alternative - replace the nulls with a sensible value. one option is use the most common value

#step 1 find the most common gender value in the data set with the value counts()

In [ ]:
#step 2 fillna with most freq value using fillna
cleandata['gender'] = cleandata['gender'].fillna('F')

In [ ]:
#run the nulls % data frame creation steps again to see what your cleandata data frame looks like now

In [ ]:
# options for handling null values in categorical variables 
    
# Ignore observation
# Replace by most frequent value
# Replace using an algorithm like KNN using the neighbours.
# Predict the observation using a multiclass predictor.
# Treat missing data as just another category

#### numerical data nulls

In [ ]:
#run nulls_df if you need a reminder of how many nulls we have

In [ ]:
#if some columns contain relatively few null values in our data we can filter the null rows away (drop them). 
cleandata = cleandata[cleandata['ic2'].isna()==False]

In [ ]:
#do the same for ic4 and ic5

In [ ]:
#with columns that have more nulls we will use an impute method, for example using the mean value 
mean_median_home_value = np.mean(cleandata['median_home_val'])

In [ ]:
#use fillna to complete the step
cleandata['median_home_val'] = cleandata['median_home_val'].fillna(mean_median_home_value)

In [ ]:
#options for null values in Numerical columns: 

# Ignore these observations
# Replace with general average
# Replace with similar type of averages
# Build model to predict missing values

### data cleaning steps (4) too many unique (categorical) values

In [ ]:
#how many unique values do we have in the gender column?
data['gender'].unique()

In [ ]:
#introducing lamba and map to solve our gender issue 

#A lambda function is a small anonymous function.

#A lambda function can take any number of arguments, but can only have one expression.

#### some simple maths examples

In [ ]:
y = lambda x: x+2

In [ ]:
#what would we get with 
y(200)

In [ ]:
addition = lambda x,y : x+y
addition(1,3)

In [ ]:
square = lambda x: x*x
square(24)

In [ ]:
lst = [1,2,3,4,5,6,7,8,10]

In [ ]:
new_list = []for item in lst:
    new_list.append(square(item))
new_list

In [ ]:
#we could also have used list comprehension
new_list = [square(item) for item in lst] 
new_list

In [ ]:
#apply lambda from above to square only the even numbers in our lst

https://www.w3schools.com/python/python_lambda.asp

In [ ]:
# map function 
# The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))

print(list(x))

In [ ]:
#heres a simple map/lambda combination to make all gender labels upper case 
cleandata['gender'] = list(map(lambda x: x.upper(), cleandata['gender']))

In [ ]:
#lambda is good for quick jobs like lower/upper STR functions that you dont need much transparency over 
#for more complicated tasks, create a function to match the unique values to M or F using IF logic

def clean(x):
    if x in ['M', 'MALE']:
        return 'Male'
    elif x.startswith('F'):
        return 'Female'
    else:
        return 'U'

In [ ]:
#apply the above function with map to create a smaller set of gender labels in our cleandata 
#- hint the function clean should be in place of lambda as shown in the last map 

#syntax structure : df['column']=list(map(functionname, df['column']))

In [ ]:
#use value_counts() or df['column'].unique() to confirm the effect of what you just did

#### OPTION - create buckets to solve too many unique values 

this depends on the business case!

In [ ]:
#create buckets on the ic2 data based on cutting the data range into 4 sections. 
ic2_labels = ['Low', 'Moderate', 'High', 'Very High']
cleandata['ic2_'] = pd.cut(cleandata['ic2'],4, labels=ic2_labels)

In [ ]:
#lets check what the bins look like 

pd.cut(cleandata['ic2'],4)

In [ ]:
#alternatively using quantiles to cut the data could be helpful 
#pd.qcut = Quantile-based discretization function. 
#This basically means that qcut tries to divide up the underlying data into equal sized bins. 

#The function defines the bins using percentiles based on the distribution of the data, not the actual numeric edges of the bins

In [ ]:
#lets look at another candidate column for this with describe 
cleandata['ic3'].describe()

In [ ]:
#and with value_counts() can we get an idea of how unique each value is

In [ ]:
#cut up ic3 into 4 quantiles - let Python work out the rest

pd.qcut(cleandata['ic3'], q=4)

In [ ]:
#A common use case is to store the bin results back in the original dataframe for future analysis. 
#For this example, we will create 4 bins (aka quartiles) and store the results back in the original dataframe:
cleandata['quantile_ic3'] = pd.qcut(cleandata['ic3'], q=4)

cleandata.head()

In [ ]:
#use value_counts on the new quantile ic3 field to see how the split 

cleandata['quantile_ic3'].value_counts()

In [ ]:
#a clear disadvantage - not super easy to interpret to the end user and requires relabelling at some point. 
# But for transparency lets leave it as is - for more information on this: https://pbpython.com/pandas-qcut-cut.html

### finally - lets export what we have so far to a csv

In [ ]:
# Exporting this processed cleandata to a csv
cleandata.to_csv('merged_clean_ver1.csv', index = False)