![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Inferential statistics - T-test & P-value

### Instructions

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [110]:
import statistics as stats
from scipy.stats import ttest_rel
import pandas as pd
import math

In [91]:
new = [42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old = [42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

**Null Hypothesis (H0)**: new machine is as fast as old machine  
**Alt. Hypothesis (H1)**: new machine is faster than old machine

In [101]:
se_new = stats.stdev(new)
se_old = stats.stdev(old)
sed = math.sqrt(se_new**2 + se_old **2 )
t_stat = (stats.mean(new) - stats.mean(old)) / sed

print(t_stat)

-1.0742986768393743

In [93]:
#degrees of freedom 
dof = len(new)+len(old)-2
print(dof)

18

having a degree of freedom = 18 and willing to have a 95 percent certainty in a one tail p-test gives us a Pvalue of:

In [94]:
P = 1.734

our T-value in absolute terms is still smaller than our P-value so we can't discard the null hypothesis.

Using scipy we can do a

In [99]:
t, p = ttest_rel(old, new)
print("ttest_ind:            t = %g  p = %g" % (t, p))

ttest_ind:            t = 3.06143  p = 0.0135403

2. An additional problem: In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances.
   Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file `files_for_lab/student_gpa.txt`.
   At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

   Test statistics can be calculated as: [link to the image - Test statistics calculation for Unpooled Variance Case](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.04/7.04-unpooled_variances.png)

   Degrees of freedom is `(n1-1)+(n2-1)`.

In [105]:
data = pd.read_csv("student_gpa.txt",sep = '\s+')

In [106]:
data

    Sophomores  Juniors
0         3.04     2.56
1         1.71     2.77
2         3.30     2.70
3         2.88     3.00
4         2.11     2.98
5         2.60     3.47
6         2.92     3.26
7         3.60     3.20
8         2.28     3.19
9         2.82     2.65
10        3.03     3.00
11        3.13     3.39
12        2.86     2.58
13        3.49      NaN
14        3.11      NaN
15        2.13      NaN
16        3.27      NaN

In [116]:
b = data['Sophomores']
a = data['Juniors']

In [117]:
t = (a.mean()-b.mean())/math.sqrt((a.var()**2/len(a))+(b.var()**2/len(b)))

In [118]:
t

2.024784655965095

In [121]:
len(a)+len(b)-2

32

Our Z value with 32 degrees of freedom and 95% certainty in our two tail test, gives z= 2.042.
our T-value is smaller, so we can't discard that the mean GPAs differ from both both groups. There is not enough evidence for it .